.categoryBigContainer {
    display: inline-block;
    position: relative;
    grid-column: span 3;
    width: 100%;
}


.titleCategory {
    font-family: "Satoshi Bold", sans-serif;
    font-size: 18px;
    position: absolute;
    z-index: 1;
    margin: 22px 0 0 15px;
}

.image {
    width: 100%;
    height: 289px;
    border-radius: 15px;
    position: relative;
}

