p {
    margin: 4px 0;
}

.productCard {
    width: 295px;
    text-align: left;
}

.productImage {
    width: 295px;
    height: 298px;
    border: 5px solid gray;
}

.title {
    font-size: 20px;
    font-family: "Satoshi Bold", sans-serif;
}

.rate {
    font-size: 14px;
    font-family: "Satoshi Light", sans-serif;
    display: inline-block;
    padding-top: -2px;
}

.price {
    font-size: 24px;
    font-family: "Satoshi Bold", sans-serif;
}