.sectionContainer {
    height: 700px;
    text-align: center;
}


.sectionHeader {
    display: inline-block;
    font-size: 48px;
    margin: 64px 0 0 0;
}

.sectionProducts {
    display: flex;
    gap: 20px;
    width: 1240px;
    margin: 55px auto 0 auto;
}

.viewButton {
    width: 218px;
    height: 52px;
    margin-top: 36px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid gray;
    font-family: "Satoshi Medium", sans-serif;
    font-size: 16px;
}
