.scrollLine {
    background-color: black;
    height: 122px;
    overflow-x: hidden;
}

.logos {
    display: flex;
    position: absolute;
    left: -10%;
    height: inherit;
    justify-content: center;
    align-items: center;

    animation: scroll;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;


    span:not(:first-child) {
        padding-left: 106px;
    }
}

@keyframes scroll {
    0% {
        left: -80%;
    }

    20% {
        left: -44%;
    }

    40% {
        left: -8%;
    }

    60% {
        left: 28%;
    }

    80% {
        left: 64%;
    }

    100% {
        left: 100%;
    }
}

